<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/style.css">
  <title>Document</title>
  <style>
   
  
  </style>
</head>
<body>
 <%- include('partials/nav.ejs') %>
  <h1>My profile: </h1>
 <% if(user.length !== 0){ %> 
  <% let {name,age,phone,country} = user[0] %>
    <ul>
      <li><strong>Name: </strong><%= name %></li>
      <li><strong>Age: </strong><%= age %></li>
      <li><strong>Phone: </strong><%= phone %></li>
      <li><strong>Country: </strong><%= country %></li>
    </ul>
  <%}else{ %>
user not available
  <% } %>
  
</body>
</html>